.content_container {
  width: 80%;
  margin: auto;
}
.send_btn {
  width: 15%;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.message_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.header_content{
  margin-bottom: 10px;
}