
.message_input {
    width: 70%;
    height: 70px;
    border-style: outset; 
    font-size: medium;
    border-radius: 10px;
    
}

.message_input:focus {
    outline: none;
}

input::placeholder {
    font-size: medium;
    
}