.message_item {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 80px;
    background-color: rgb(176, 189, 228);
    border-radius: 10px 100px / 120px;
}

.avatar {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message_details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.date_like_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.like_btn {
    cursor: pointer;
    margin-right: 5px;
}
.createdAt{
    font-size: x-small;

}